In [10]:
#!pip install chromadb

In [2]:
from dotenv import load_dotenv
load_dotenv('../.flaskenv')

True

In [3]:
from langchain.document_loaders import CSVLoader
from langchain.indexes import VectorstoreIndexCreator
from langchain.callbacks import get_openai_callback

In [2]:
loader = CSVLoader(file_path='data/adib-data.csv')

In [5]:
data = loader.load()

In [11]:
index = VectorstoreIndexCreator().from_loaders([loader])

In [28]:
question = "What was the customer financing in 2018?"

In [19]:
with get_openai_callback() as cb:
        result = index.query(question)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost

In [20]:
print(result)
print(total_tokens)

 I don't know.
113

In [4]:
from langchain import OpenAI
from langchain.agents import create_pandas_dataframe_agent
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [32]:
adib = pd.read_csv('~/ADIB/data/ADIB.csv',encoding='latin-1')
adib

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 9: invalid start byte

In [31]:
fab = pd.read_csv('~/ADIB/data/FAB.csv',encoding='latin-1')
fab

,Period,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees costs,Depreciation,Amortisation of intangibles
0,2017,138111,138,330466,52067,88458,3536,39109,668968,30576,395844,76061,566759,10898,0,120.000,0,18678,7628.282,962.736,101722,10755,487,102209,668968,0,0,0,826.225,2898,928,472,"19,533",4901,2087,9392,225,9167,54,9133,485340.823,330466,NaN,16380.457,"19,533",1877.303,3422.654,374.101,159.156
1,2018,182909,19176,353205,46739,90434,3991,44275,744125,40267,465476,93740,642152,10898,0,228.265,0,17084,826.225,-37.477,101611,10755,362,101973,744125,0,0,0,826.225,3392,2042,159,"19,446",5329,1726,12391,325,12066,33,12011,492372.688,353205,NaN,19445.742,"19,446",1686.352,3167.377,235.586,201.663
2,2019,169702,17027,407903,60695,114644,4619,44040,821968,36008,519162,102628,713931,10920,0,228.265,0,18872,8080.800,2474.032,107607,10755,430,108037,821968,0,0,0,0.000,3169,692,-189,"20,249",5499,1843,12907,314,12593,72,12520,485070.054,407903,NaN,20249.057,"20,249",1560.519,3205.375,451.312,201.624
3,2020,227873,27358,386644,97894,131574,4867,40115,919061,57632,540882,148599,810022,10920,0,228.265,0,19418,8080.800,2882.421,108675,10755,364,109039,919061,0,0,0,0.000,2903,1777,-252,"18,574",5060,2620,10894,341,10553,-3,10555,505339.747,386644,NaN,18573.911,"18,574",1438.797,2783.567,567.361,201.223
4,2021,258733,19319,409590,480124,145487,6963,44898,1001096,56985,614670,21567,888449,10920,0,228.265,0,22667,5744.758,3569.185,113,10755,15,112647,1001096,1843,-864,0,1843.179,3035,692,-189,"21,700",5836,2658,13187,644,12542,11,12531,578995.264,409590,NaN,21681.255,21700,2423.159,3004.906,735.705,198.859
5,2022,228369,24887,459593,587573,173909,7168,56433,111006,61560,700573,37049,995006,11048,0,228.265,0,27186,7644.000,-835.463,115038,10755,12,115050,1110056,2025,-1099,0,2024.989,2781,1777,-252,"23,900",6705,2839,14390,968,13422,11,13411,571890.389,459593,NaN,20840.216,23900,2423.159,3173.075,859.338,202.955

In [110]:
adib['name']='ADIB'
adib.head()

,Period,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,name
0,2017,21467.0,4891.0,76530.0,11579.0,989.0,1931.0,5892.0,123278.0,3689.0,100004.0,3012.0,106704.0,3168.0,2102.0,1716.0,400,3302.0,944,-743.0,10889.0,5673.0,11.0,16573.0,123278.0,4352.0,-582.0,3770.0,546.0,1030.0,270.0,16.0,1863.0,5632.0,-2509.0,-790.0,2333.0,-33.0,2300.0,-1.0,2299.0,ADIB
1,2018,18731.0,5250.0,78677.0,13667.0,1206.0,2233.0,5429.0,125194.0,4138.0,100404.0,2915.0,107457.0,3632.0,2641.0,1981.0,400,5152.0,31,-865.0,12971.0,4754.0,11.0,17736.0,125193.0,4621.0,-714.0,3907.0,525.0,1059.0,257.0,22.0,1863.0,5769.0,-2644.0,-620.0,2506.0,-5.0,2501.0,-1.0,2500.0,ADIB
2,2019,19823.0,3363.0,81108.0,12940.0,1281.0,2086.0,5385.0,125987.0,2461.0,101404.0,3018.0,106884.0,3632.0,2641.0,2250.0,400,5757.0,20,-362.0,14338.0,4754.0,11.0,19103.0,125987.0,4631.0,-813.0,3818.0,687.0,1083.0,318.0,9.0,2097.0,5915.0,-2653.0,-658.0,2604.0,-3.0,2601.0,-1.0,2600.0,ADIB
3,2020,19580.0,2420.0,83409.0,13809.0,1302.0,2024.0,5273.0,127816.0,3773.0,101276.0,3605.0,108654.0,3632.0,2641.0,2407.0,400,5671.0,0,-355.0,14396.0,4754.0,11.0,19162.0,127816.0,3827.0,-502.0,3324.0,791.0,992.0,223.0,27.0,2034.0,5358.0,-2450.0,-1314.0,1594.0,10.0,1604.0,-1.0,1603.0,ADIB
4,2021,21699.0,4530.0,88252.0,13691.0,1604.0,2003.0,5089.0,136868.0,3536.0,109611.0,3162.0,116309.0,3632.0,2641.0,2634.0,400,6741.0,0,-255.0,15793.0,4754.0,12.0,20559.0,136868.0,3675.0,-330.0,3345.0,994.0,958.0,248.0,14.0,2215.0,5560.0,-2260.0,-954.0,2345.0,-15.0,2330.0,-1.0,2329.0,ADIB

In [111]:
fab['name']='FAB'
fab.head()

,Period,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,name
0,2017,138111,138,330466,52067,88458,3536,39109,668968,30576,395844,76061,566759,10898,0,0,0,18678,0,0,101722,10755,487,102209,668968,0,0,0,0,2898,928,472,0,0,4901,-2087,9392,-225,9167,54,9133,FAB
1,2018,182909,19176,353205,46739,90434,3991,44275,744125,40267,465476,93740,642152,10898,0,0,0,17084,0,0,101611,10755,362,101973,744125,0,0,0,0,3392,2042,159,0,0,5329,-1726,12391,-325,12066,33,12011,FAB
2,2019,169702,17027,407903,60695,114644,4619,44040,821968,36008,519162,102628,713931,10920,0,0,0,18872,0,0,107607,10755,430,108037,821968,0,0,0,0,3169,692,-189,0,0,-5499,-1843,12907,-314,12593,72,12520,FAB
3,2020,227873,27358,386644,97894,131574,4867,40115,919061,57632,540882,148599,810022,10920,0,0,0,19418,0,0,108675,10755,364,109039,919061,0,0,0,0,2903,1777,-252,0,0,-5060,-2620,10894,-341,10553,-3,10555,FAB
4,2021,258733,19319,409590,480124,145487,6963,44898,1001096,56985,614670,21567,888449,10920,0,0,0,22667,0,0,113,10755,15,112647,1001096,1843,-864,0,0,3035,692,-189,0,0,-5836,-2658,13187,-644,12542,11,12531,FAB

In [112]:
df = pd.concat([adib,fab])
df.head()

,Period,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,name
0,2017,21467.0,4891.0,76530.0,11579.0,989.0,1931.0,5892.0,123278.0,3689.0,100004.0,3012.0,106704.0,3168.0,2102.0,1716.0,400,3302.0,944,-743.0,10889.0,5673.0,11.0,16573.0,123278.0,4352.0,-582.0,3770.0,546.0,1030.0,270.0,16.0,1863.0,5632.0,-2509.0,-790.0,2333.0,-33.0,2300.0,-1.0,2299.0,ADIB
1,2018,18731.0,5250.0,78677.0,13667.0,1206.0,2233.0,5429.0,125194.0,4138.0,100404.0,2915.0,107457.0,3632.0,2641.0,1981.0,400,5152.0,31,-865.0,12971.0,4754.0,11.0,17736.0,125193.0,4621.0,-714.0,3907.0,525.0,1059.0,257.0,22.0,1863.0,5769.0,-2644.0,-620.0,2506.0,-5.0,2501.0,-1.0,2500.0,ADIB
2,2019,19823.0,3363.0,81108.0,12940.0,1281.0,2086.0,5385.0,125987.0,2461.0,101404.0,3018.0,106884.0,3632.0,2641.0,2250.0,400,5757.0,20,-362.0,14338.0,4754.0,11.0,19103.0,125987.0,4631.0,-813.0,3818.0,687.0,1083.0,318.0,9.0,2097.0,5915.0,-2653.0,-658.0,2604.0,-3.0,2601.0,-1.0,2600.0,ADIB
3,2020,19580.0,2420.0,83409.0,13809.0,1302.0,2024.0,5273.0,127816.0,3773.0,101276.0,3605.0,108654.0,3632.0,2641.0,2407.0,400,5671.0,0,-355.0,14396.0,4754.0,11.0,19162.0,127816.0,3827.0,-502.0,3324.0,791.0,992.0,223.0,27.0,2034.0,5358.0,-2450.0,-1314.0,1594.0,10.0,1604.0,-1.0,1603.0,ADIB
4,2021,21699.0,4530.0,88252.0,13691.0,1604.0,2003.0,5089.0,136868.0,3536.0,109611.0,3162.0,116309.0,3632.0,2641.0,2634.0,400,6741.0,0,-255.0,15793.0,4754.0,12.0,20559.0,136868.0,3675.0,-330.0,3345.0,994.0,958.0,248.0,14.0,2215.0,5560.0,-2260.0,-954.0,2345.0,-15.0,2330.0,-1.0,2329.0,ADIB

In [113]:
df.tail()

,Period,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,name
1,2018,182909.0,19176.0,353205.0,46739.0,90434.0,3991.0,44275.0,744125.0,40267.0,465476.0,93740.0,642152.0,10898.0,0.0,0.0,0,17084.0,0,0.0,101611.0,10755.0,362.0,101973.0,744125.0,0.0,0.0,0.0,0.0,3392.0,2042.0,159.0,0.0,0.0,5329.0,-1726.0,12391.0,-325.0,12066.0,33.0,12011.0,FAB
2,2019,169702.0,17027.0,407903.0,60695.0,114644.0,4619.0,44040.0,821968.0,36008.0,519162.0,102628.0,713931.0,10920.0,0.0,0.0,0,18872.0,0,0.0,107607.0,10755.0,430.0,108037.0,821968.0,0.0,0.0,0.0,0.0,3169.0,692.0,-189.0,0.0,0.0,-5499.0,-1843.0,12907.0,-314.0,12593.0,72.0,12520.0,FAB
3,2020,227873.0,27358.0,386644.0,97894.0,131574.0,4867.0,40115.0,919061.0,57632.0,540882.0,148599.0,810022.0,10920.0,0.0,0.0,0,19418.0,0,0.0,108675.0,10755.0,364.0,109039.0,919061.0,0.0,0.0,0.0,0.0,2903.0,1777.0,-252.0,0.0,0.0,-5060.0,-2620.0,10894.0,-341.0,10553.0,-3.0,10555.0,FAB
4,2021,258733.0,19319.0,409590.0,480124.0,145487.0,6963.0,44898.0,1001096.0,56985.0,614670.0,21567.0,888449.0,10920.0,0.0,0.0,0,22667.0,0,0.0,113.0,10755.0,15.0,112647.0,1001096.0,1843.0,-864.0,0.0,0.0,3035.0,692.0,-189.0,0.0,0.0,-5836.0,-2658.0,13187.0,-644.0,12542.0,11.0,12531.0,FAB
5,2022,228369.0,24887.0,459593.0,587573.0,173909.0,7168.0,56433.0,111006.0,61560.0,700573.0,37049.0,995006.0,11048.0,0.0,0.0,0,27186.0,0,0.0,115038.0,10755.0,12.0,115050.0,1110056.0,2025.0,-1099.0,0.0,0.0,2781.0,1777.0,-252.0,0.0,0.0,-6705.0,-2839.0,14390.0,-968.0,13422.0,11.0,13411.0,FAB

In [114]:
agent = create_pandas_dataframe_agent(
    OpenAI(temperature=0.6), 
    df=df, 
    verbose=True,
    max_iterations=5
)

In [123]:
PROMPT = """You are a chatbot for Abu Dhabi Islamic Bank named ADIB.ai
Example Query: "Please provide the investments in the year 2021 and the investment growth."

You have balance-sheet data for different banks, identified by the `name` column. 
Answer for ADIB bank only unless instructed otherwise for specific banks.

Example Answers:
1. "The investments in the year 2021 amount to 13,691 Million AED."
2. "The investment growth is 10%."

All values are represented in Million AED, and percentages and ratios are properly formatted.
Here's the query: 
"""
def ask_agent(agent, query):
    """
    Query an agent and return the response as a string.

    Args:
        agent: The agent to query.
        query: The query to ask the agent.

    Returns:
        The response from the agent as a string.
    """
    # Prepare the prompt with query guidelines and formatting
    prompt = ( PROMPT + query)

    # Run the prompt through the agent and capture the response.
    with get_openai_callback() as cb:
        response = agent.run(prompt)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost
    print("total token used:", total_tokens, 'costing:', total_cost)

    # Return the response converted to a string.
    return str(response)

In [50]:
question = "What was the customer financing in 2018?"
question2 = "What was the other assets 2020?"
question3 = "What was the investments in 2021?"
question4 = "What was the difference between investments of 2021 and 2019?"

In [36]:
response = ask_agent(agent=agent, query=question)
print(response)

> Entering new AgentExecutor chain...

Thought:
        I need to find the customer financing amount in 2018 from one of the dataframes.

Action:
        python_repl_ast

Action Input:
        df1.loc[df1['name'] == 'ADIB', 'Customer financing'].iloc[1]

Observation: 78677.0
Thought: I now know the final answer

Final Answer:
        The customer financing in 2018 was 78,677 Million AED.

> Finished chain.
total token used: 6166 costing: 0.12332000000000001
The customer financing in 2018 was 78,677 Million AED.

In [176]:
response = ask_agent(agent=agent, query=question2)
print(response)

> Entering new AgentExecutor chain...
Thought: I need to find the column of ‘Other assets/ Property and Equipement/ Goodwill and Intangibles’ and the row for 2020
Action: python_repl_ast
Action Input: df['Other assets/ Property and Equipement/ Goodwill and Intangibles'][3]
Observation: 5273.0
Thought: I now know the final answer
Final Answer: The other assets in 2020 was 5273 Million AED.

> Finished chain.
total token used: 3422 costing: 0.06844
The other assets in 2020 was 5273 Million AED.

In [177]:
response = ask_agent(agent=agent, query=question3)
print(response)

> Entering new AgentExecutor chain...
Thought: I need to look up the investments for 2021
Action: python_repl_ast
Action Input: df[df['Periods'] == 'For Year 2021']['Investments'].item()
Observation: 13691.0
Thought: I know the final answer
Final Answer: The investments in 2021 was 13691 Million AED

> Finished chain.
total token used: 3381 costing: 0.06761999999999999
The investments in 2021 was 13691 Million AED

In [178]:
response = ask_agent(agent=agent, query=question4)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to look at the Investments column for both 2021 and 2019 to answer the question.
Action: python_repl_ast
Action Input: df['Investments'][4] - df['Investments'][2]
Observation: 751.0
Thought: I now know the final answer
Final Answer: The difference between investments of 2021 and 2019 was 751 Million AED.

> Finished chain.
total token used: 3405 costing: 0.0681
The difference between investments of 2021 and 2019 was 751 Million AED.

In [179]:
response = ask_agent(agent=agent, query="what is the average of cash and balance?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to calculate the average of the "Cash and balances with central banks" column
Action: python_repl_ast
Action Input: df["Cash and balances with central banks"].mean()
Observation: 22847.585714166664
Thought: I now know the final answer
Final Answer: The average of Cash and balances with central banks is 22847.59 Million AED.

> Finished chain.
total token used: 3397 costing: 0.06794
The average of Cash and balances with central banks is 22847.59 Million AED.

In [117]:
response = ask_agent(agent=agent, query="what is the year on year growth percentage for the investments for the last 3 years?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to identify the investments for the last 3 years and then calculate the year on year growth percentage
Action: python_repl_ast
Action Input: df[df['name'] == 'ADIB']['Investments'].pct_change()
Observation: 0          NaN
1     0.180326
2    -0.053194
3     0.067156
4    -0.008545
5     0.419327
6    -0.063044
7     0.063094
8     0.059349
9     0.056024
10    0.053052
11    0.050379
Name: Investments, dtype: float64
Thought: I now know the year on year growth percentage for the investments for the last 3 years
Final Answer: The year on year growth percentage for the investments for the last 3 years is 18.03%, -5.32%, and 6.72%, respectively.

> Finished chain.
total token used: 3649 costing: 0.07298
The year on year growth percentage for the investments for the last 3 years is 18.03%, -5.32%, and 6.72%, respectively.

In [129]:
response = ask_agent(agent=agent, query="in which year the cash and balance was lowest for FAB, and what was the cash")
print(response)

> Entering new AgentExecutor chain...
Thought: I need to find the lowest cash and balance for FAB
Action: python_repl_ast
Action Input: df[df.name == 'FAB']['Cash and balances with central banks'].min()
Observation: 138111.0
Thought: I need to find the corresponding year for the lowest cash and balance
Action: python_repl_ast
Action Input: df[df['Cash and balances with central banks'] == df[df.name == 'FAB']['Cash and balances with central banks'].min()]['Period'].values[0]
Observation: 2017
Thought: I now know the final answer
Final Answer: The lowest cash and balance for FAB was in 2017, amounting to 138111 Million AED.

> Finished chain.
total token used: 5416 costing: 0.10832000000000001
The lowest cash and balance for FAB was in 2017, amounting to 138111 Million AED.

In [105]:
response = ask_agent(agent=agent, query="what is the average of cash and balance")
print(response)

> Entering new AgentExecutor chain...

Thought: I should check the values for cash and balance for each year
Action: python_repl_ast
Action Input: df.groupby('name')['Cash and balances with central banks'].mean()
Observation: name
ADIB     22847.585714
FAB     200949.500000
Name: Cash and balances with central banks, dtype: float64
Thought: I should check the ADIB average only
Action: python_repl_ast
Action Input: df.groupby('name')['Cash and balances with central banks'].mean()['ADIB']
Observation: 22847.585714166667
Thought: I now know the final answer
Final Answer: The average of cash and balance for ADIB is 22,847.59 Million AED.

> Finished chain.
total token used: 5398 costing: 0.10796000000000001
The average of cash and balance for ADIB is 22,847.59 Million AED.

In [125]:
response = ask_agent(agent=agent, query="what is the average of cash and balance all banks")
print(response)

> Entering new AgentExecutor chain...

Thought: To answer this question, I need to find the average of the cash and balance for all the banks
Action: python_repl_ast
Action Input: df['Cash and balances with central banks'].mean()
Observation: 82214.89047611112
Thought: I now know the final answer
Final Answer: The average of the cash and balance for all banks is 82214.89047611112 Million AED.

> Finished chain.
total token used: 3507 costing: 0.07014000000000001
The average of the cash and balance for all banks is 82214.89047611112 Million AED.

In [124]:
query="what percentage of zakat has deducted in 2022?"
response = ask_agent(agent=agent, query=query)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to find the Net Income After Zakat and Tax for 2022
Action: python_repl_ast
Action Input: df[df['name']=='ADIB'][df['Period']==2022]['Net income after zakat and tax']
Observation: 10    3582.142857
11    3727.428571
Name: Net income after zakat and tax, dtype: float64
Thought:

<string>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

 I need to find the Net Income Before Zakat and Tax for 2022
Action: python_repl_ast
Action Input: df[df['name']=='ADIB'][df['Period']==2022]['Net income before zakat and tax']
Observation: 10    3633.619048
11    3783.390476
Name: Net income before zakat and tax, dtype: float64
Thought:

<string>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

 I now know the final answer
Final Answer: The percentage of zakat deducted in 2022 is 1.4%.

> Finished chain.
total token used: 5487 costing: 0.10974
The percentage of zakat deducted in 2022 is 1.4%.