In [10]:
#!pip install chromadb

In [7]:
from dotenv import load_dotenv
load_dotenv('../.flaskenv')

True

In [12]:
from langchain.document_loaders import CSVLoader
from langchain.indexes import VectorstoreIndexCreator
from langchain.callbacks import get_openai_callback

In [2]:
loader = CSVLoader(file_path='data/adib-data.csv')

In [5]:
data = loader.load()

In [11]:
index = VectorstoreIndexCreator().from_loaders([loader])

In [28]:
question = "What was the customer financing in 2018?"

In [19]:
with get_openai_callback() as cb:
        result = index.query(question)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost

In [20]:
print(result)
print(total_tokens)

 I don't know.
113

In [102]:
from langchain import OpenAI
from langchain.agents import create_pandas_dataframe_agent
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [129]:
df = pd.read_csv('data/ADIB3.csv')
df

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity
0,For Year 2017,21467,4891,76530,11579,989,1931,5892,123278,3689,100004,3012,106704,3168,2102,1716,400,3302,944.0,-743,10889,5673,11,16573,123278
1,For Year 2018,18731,5250,78677,13667,1206,2233,5429,125194,4138,100404,2915,107457,3632,2641,1981,400,5152,31.0,-865,12971,4754,11,17736,125193
2,For Year 2019,19823,3363,81108,12940,1281,2086,5385,125987,2461,101404,3018,106884,3632,2641,2250,400,5757,20.0,-362,14338,4754,11,19103,125987
3,For Year 2020,19580,2420,83409,13809,1302,2024,5273,127816,3773,101276,3605,108654,3632,2641,2407,400,5671,NaN,-355,14396,4754,11,19162,127816
4,For Year 2021,21699,4530,88252,13691,1604,2003,5089,136868,3536,109611,3162,116309,3632,2641,2634,400,6741,NaN,-255,15793,4754,12,20559,136868
5,For Year 2022,24229,7441,107717,19432,776,1992,6930,168517,2834,138137,4086,145056,3632,2641,2976,400,8642,NaN,-565,17726,4754,980,23461,168517

In [130]:
df.dtypes

Periods                                                             object
Cash and balances with central banks                                 int64
Due from financial institutions                                      int64
Customer financing                                                   int64
Investments                                                          int64
Investment in associates                                             int64
Investment and development properties                                int64
Other assets/ Property and Equipement/ Goodwill and Intangibles      int64
Total assets                                                         int64
Due to financial institutions                                        int64
Total deposits                                                       int64
Other liabilities                                                    int64
Total liabilities                                                    int64
Share capital                                                        int64
Legal reserve                                                        int64
General reserve                                                      int64
Credit risk reserve                                                  int64
Retained earnings                                                    int64
Proposed dividends                                                 float64
Other reserves                                                       int64
Equity attributable to shareholders of the bank                      int64
Tier 1 sukuk                                                         int64
Non - controlling interest                                           int64
Equity attributable to equity holders of the bank                    int64
Total liabilities and equity                                         int64
dtype: object

In [131]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0.6), df, verbose=True)

In [132]:
def ask_agent(agent, query):
    """
    Query an agent and return the response as a string.

    Args:
        agent: The agent to query.
        query: The query to ask the agent.

    Returns:
        The response from the agent as a string.
    """
    # Prepare the prompt with query guidelines and formatting
    prompt = (
        """
        For plain question answer in plain human like manner.
        For example:
        "The Product with the highest Orders is '15143Exfo'"

        If the answer is not known or available, respond with:
        "I do not know."
        
        Here's the query for you to work on: 
        """
        + query
    )

    # Run the prompt through the agent and capture the response.
    with get_openai_callback() as cb:
        response = agent.run(prompt)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost
    print("total token used:", total_tokens, 'costing:', total_cost)

    # Return the response converted to a string.
    return str(response)

In [133]:
question = "What was the customer financing in 2018?"
question2 = "What was the other assets 2020?"
question3 = "What was the investments in 2021?"
question4 = "What was the difference between investments of 2021 and 2019?"

In [134]:
response = ask_agent(agent=agent, query=question)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to look at the customer financing column in row 1
Action: python_repl_ast
Action Input: df.iloc[1]['Customer financing']
Observation: 78677
Thought: I now know the final answer
Final Answer: The customer financing in 2018 was 78677.

> Finished chain.
total token used: 2361 costing: 0.04722
The customer financing in 2018 was 78677.

In [135]:
response = ask_agent(agent=agent, query=question2)
print(response)

> Entering new AgentExecutor chain...

Thought: I should look at the dataframe to find the answer.
Action: python_repl_ast
Action Input: df['Other assets/ Property and Equipement/ Goodwill and Intangibles'][3]
Observation: 5273
Thought: I have found the answer.
Final Answer: The other assets in 2020 was 5273.

> Finished chain.
total token used: 2377 costing: 0.04754
The other assets in 2020 was 5273.

In [136]:
response = ask_agent(agent=agent, query=question3)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to look at the Investments column of the 2021 row
Action: python_repl_ast
Action Input: df.loc[4, 'Investments']
Observation: 13691
Thought: I now know the final answer
Final Answer: The investments in 2021 was 13691.

> Finished chain.
total token used: 2356 costing: 0.047119999999999995
The investments in 2021 was 13691.

In [137]:
response = ask_agent(agent=agent, query=question4)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to find the investments of 2021 and 2019
Action: python_repl_ast
Action Input: df['Investments'].loc[(df['Periods'] == 'For Year 2021') | (df['Periods'] == 'For Year 2019')]
Observation: 2    12940
4    13691
Name: Investments, dtype: int64
Thought: I need to subtract the values
Action: python_repl_ast
Action Input: df['Investments'].loc[(df['Periods'] == 'For Year 2021')] - df['Investments'].loc[(df['Periods'] == 'For Year 2019')]
Observation: 2   NaN
4   NaN
Name: Investments, dtype: float64
Thought: I need to use the .iloc indexer
Action: python_repl_ast
Action Input: df['Investments'].iloc[4] - df['Investments'].iloc[2]
Observation: 751
Thought: I now know the final answer
Final Answer: The difference between investments of 2021 and 2019 is 751.

> Finished chain.
total token used: 5214 costing: 0.10428000000000001
The difference between investments of 2021 and 2019 is 751.

In [138]:
response = ask_agent(agent=agent, query="what is the average of cash and balance?")
print(response)

> Entering new AgentExecutor chain...
Thought: I should look for the average of the Cash and balances with central banks column
Action: python_repl_ast
Action Input: df['Cash and balances with central banks'].mean()
Observation: 20921.5
Thought: I now know the final answer
Final Answer: The average of Cash and balances with central banks is 20921.5

> Finished chain.
total token used: 2376 costing: 0.04751999999999999
The average of Cash and balances with central banks is 20921.5

In [140]:
response = ask_agent(agent=agent, query="what is the year on year growth percentage for the investments for the last 3 years?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to compare the investments from the last 3 years to calculate the year on year growth percentage
Action: python_repl_ast
Action Input: df[['Periods','Investments']].tail(3)
Observation:          Periods  Investments
3  For Year 2020        13809
4  For Year 2021        13691
5  For Year 2022        19432
Thought: I need to calculate the difference between the investments for the last 3 years
Action: python_repl_ast
Action Input: df.Investments.tail(3).diff()
Observation: 3       NaN
4    -118.0
5    5741.0
Name: Investments, dtype: float64
Thought: I need to calculate the year on year growth percentage
Action: python_repl_ast
Action Input: (df.Investments.tail(3).diff() / df.Investments.tail(3).shift()) * 100
Observation: 3          NaN
4    -0.854515
5    41.932656
Name: Investments, dtype: float64
Thought: I now know the final answer
Final Answer: The year on year growth percentage for the investments for the last 3 years is 41.93%.

> Finished chain.
total token used: 5211 costing: 0.10421999999999998
The year on year growth percentage for the investments for the last 3 years is 41.93%.

In [141]:
response = ask_agent(agent=agent, query="what is the average year on year growth percentage for the investments for the last 3 years?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to calculate the average year on year growth rate of investments for the last 3 years.
Action: python_repl_ast
Action Input: df.iloc[2:5, 5].pct_change().mean()*100
Observation: 12.41721437385107
Thought: I now know the final answer
Final Answer: The average year on year growth percentage for investments for the last 3 years is 12.42%.

> Finished chain.
total token used: 2428 costing: 0.048560000000000006
The average year on year growth percentage for investments for the last 3 years is 12.42%.