In [10]:
#!pip install chromadb

In [2]:
from dotenv import load_dotenv
load_dotenv('../.flaskenv')

True

In [3]:
from langchain.document_loaders import CSVLoader
from langchain.indexes import VectorstoreIndexCreator
from langchain.callbacks import get_openai_callback

In [2]:
loader = CSVLoader(file_path='data/adib-data.csv')

In [5]:
data = loader.load()

In [11]:
index = VectorstoreIndexCreator().from_loaders([loader])

In [28]:
question = "What was the customer financing in 2018?"

In [19]:
with get_openai_callback() as cb:
        result = index.query(question)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost

In [20]:
print(result)
print(total_tokens)

 I don't know.
113

In [4]:
from langchain import OpenAI
from langchain.agents import create_pandas_dataframe_agent
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [63]:
adib = pd.read_csv('~/ADIB/data/ADIB.csv')
adib

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles
0,2017,21467.00,4891.00,76530.00,11579.00,989.00,1931.00,5892.00,123278.0,3689.00,100004.00,3012.00,106704.00,3168.00,2102.00,1716.00,400.0,3302.0,944.0,-743.00,10889.00,5673.00,11.00,16573.00,123278.00,4352.00,-582.00,3770.00,546.00,1030.00,270.00,16.00,1863.00,5632.00,-2509.00,-790.00,2333.00,-33.00,2300.00,-1.00,2299.00,"99,854","79,750","4,014",6214.294,"5,632.30",840.145,1446.329,167.901,54.793
1,2018,18731.00,5250.00,78677.00,13667.00,1206.00,2233.00,5429.00,125194.0,4138.00,100404.00,2915.00,107457.00,3632.00,2641.00,1981.00,400.0,5152.0,31.0,-865.00,12971.00,4754.00,11.00,17736.00,125193.00,4621.00,-714.00,3907.00,525.00,1059.00,257.00,22.00,1863.00,5769.00,-2644.00,-620.00,2506.00,-5.00,2501.00,-1.00,2500.00,"99,391","81,559","3,951",6483.520,"5,769.50",842.130,1522.644,224.255,54.752
2,2019,19823.00,3363.00,81108.00,12940.00,1281.00,2086.00,5385.00,125987.0,2461.00,101404.00,3018.00,106884.00,3632.00,2641.00,2250.00,400.0,5757.0,20.0,-362.00,14338.00,4754.00,11.00,19103.00,125987.00,4631.00,-813.00,3818.00,687.00,1083.00,318.00,9.00,2097.00,5915.00,-2653.00,-658.00,2604.00,-3.00,2601.00,-1.00,2600.00,"101,592","84,121","5,440",6728.422,"5,915.20",754.926,1529.670,313.703,54.752
3,2020,19580.00,2420.00,83409.00,13809.00,1302.00,2024.00,5273.00,127816.0,3773.00,101276.00,3605.00,108654.00,3632.00,2641.00,2407.00,400.0,5671.0,0.0,-355.00,14396.00,4754.00,11.00,19162.00,127816.00,3827.00,-502.00,3324.00,791.00,992.00,223.00,27.00,2034.00,5358.00,-2450.00,-1314.00,1594.00,10.00,1604.00,-1.00,1603.00,"99,574","87,407","7,689",5860.523,"5,358.20",619.846,1508.212,267.190,54.752
4,2021,21699.00,4530.00,88252.00,13691.00,1604.00,2003.00,5089.00,136868.0,3536.00,109611.00,3162.00,116309.00,3632.00,2641.00,2634.00,400.0,6741.0,0.0,-255.00,15793.00,4754.00,12.00,20559.00,136868.00,3675.00,-330.00,3345.00,994.00,958.00,248.00,14.00,2215.00,5560.00,-2260.00,-954.00,2345.00,-15.00,2330.00,-1.00,2329.00,"104,443","93,129","8,286",5889.510,"5,559.60",526.100,1438.767,240.416,54.752
5,2022,24229.00,7441.00,107717.00,19432.00,776.00,1992.00,6930.00,168517.0,2834.00,138137.00,4086.00,145056.00,3632.00,2641.00,2976.00,400.0,8642.0,0.0,-565.00,17726.00,4754.00,980.00,23461.00,168517.00,5042.00,-891.00,4151.00,1471.00,1368.00,-168.00,12.00,2684.00,6835.00,-2387.00,-769.00,3680.00,-60.00,3619.00,-32.00,3587.00,"119,857","113,367","8,705",7726.037,"6,835.10",530.766,1540.896,271.553,43.505
6,2023,23168.60,5613.87,104644.93,18206.93,1208.00,2000.13,6072.13,160914.6,2928.27,130288.47,3969.47,137185.93,3786.67,2820.67,3168.93,400.0,9015.6,0.0,-251.47,18623.07,4447.67,657.47,23729.13,160914.73,4338.80,-646.87,3691.67,1449.27,1211.27,-39.87,14.07,2635.80,6327.93,-2287.33,-1006.13,3034.53,-32.87,3001.00,-21.67,2979.33,115433.80,110496.93,10218.40,6974.600,6327.71,422.650,1517.730,299.530,47.240
7,2024,23810.63,5889.50,109986.68,19355.68,1212.29,1987.36,6188.08,168430.2,2792.01,136521.55,4160.84,143474.10,3852.95,2897.67,3409.39,400.0,9912.2,0.0,-173.55,19843.32,4316.38,795.98,24956.79,168430.42,4333.31,-649.21,3683.81,1624.58,1248.30,-105.92,13.32,2781.46,6465.96,-2231.19,-1050.50,3184.30,-37.21,3146.29,-26.10,3120.19,120702.93,118828.29,11554.47,7158.160,6536.10,347.500,1503.620,291.750,44.500
8,2025,24452.66,6165.12,115328.42,20504.42,1216.57,1974.59,6304.02,175945.8,2655.75,142754.64,4352.21,149762.28,3919.24,2974.67,3649.85,400.0,10808.8,0.0,-95.64,21063.58,4185.10,934.50,26184.45,175946.10,4327.83,-651.55,3675.95,1799.90,1285.32,-171.98,12.58,2927.11,6603.99,-2175.05,-1094.88,3334.08,-41.55,3291.57,-30.52,3261.05,126121.93,127529.29,12506.76,7455.620,6817.51,272.360,1506.520,282.530,41.410
9,2026,25094.69,6440.75,120670.16,21653.16,1220.86,1961.82,6419.96,183461.4,2519.50,148987.72,4543.58,156050.45,3985.52,3051.67,3890.30,400.0,11705.4,0.0,-17.72,22283.84,4053.81,1073.01,27412.10,183461.79,4322.34,-653.90,3668.10,1975.21,1322.35,-238.04,11.84,3072.77,6742.02,-2118.90,-1139.25,3483.85,-45.90,3436.86,-34.95,3401.90,132065.07,135943.51,13367.37,7947.070,7210.90,197.210,1518.920,301.360,38.320
10,2027,25736.71,6716.38,126011.90,22801.90,1225.14,1949.05,6535.90,190977.0,2383.24,155220.81,4734.95,162338.62,4051.81,3128.67,4130.76,400.0,12602.0,0.0,60.19,23504.10,3922.52,1211.52,28639.76,190977.48,4316.86,-656.24,3660.24,2150.52,1359.38,-304.10,11.10,3218.43,6880.05,-2062.76,-1183.62,3633.62,-50.24,3582.14,-39.38,3542.76,135988.05,143038.09,14587.82,8157.840,7389.03,122.070,1532.760,314.180,35.830
11,2028,26378.74,6992.01,131353.65,23950.65,1229.43,1936.28,6651.85,198492.6,2246.98,161453.90,4926.32,168626.79,4118.10,3205.67,4371.22,400.0,13498.6,0.0,138.10,24724.35,3791.24,1350.04,29867.42,198493.16,4311.37,-658.58,3652.38,2325.84,1396.41,-370.15,10.35,3364.09,7018.08,-2006.62,-1227.99,3783.39,-54.58,3727.43,-43.81,3683.62,138624.93,148206.80,15804.63,8107.270,7422.79,46.920,1516.650,314.430,34.980

In [64]:
fab = pd.read_csv('~/ADIB/data/FAB.csv')
fab

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles
0,2017,138111,138,330466,52067,88458,3536,39109,668968,30576,395844,76061,566759,10898,0,120.000,0,18678,7628.282,962.736,101722,10755,487,102209,668968,0,0,0,826.225,2898,928,472,"19,533",4901,2087,9392,225,9167,54,9133,485340.823,330466,NaN,16380.457,"19,533",1877.303,3422.654,374.101,159.156
1,2018,182909,19176,353205,46739,90434,3991,44275,744125,40267,465476,93740,642152,10898,0,228.265,0,17084,826.225,-37.477,101611,10755,362,101973,744125,0,0,0,826.225,3392,2042,159,"19,446",5329,1726,12391,325,12066,33,12011,492372.688,353205,NaN,19445.742,"19,446",1686.352,3167.377,235.586,201.663
2,2019,169702,17027,407903,60695,114644,4619,44040,821968,36008,519162,102628,713931,10920,0,228.265,0,18872,8080.800,2474.032,107607,10755,430,108037,821968,0,0,0,0.000,3169,692,-189,"20,249",5499,1843,12907,314,12593,72,12520,485070.054,407903,NaN,20249.057,"20,249",1560.519,3205.375,451.312,201.624
3,2020,227873,27358,386644,97894,131574,4867,40115,919061,57632,540882,148599,810022,10920,0,228.265,0,19418,8080.800,2882.421,108675,10755,364,109039,919061,0,0,0,0.000,2903,1777,-252,"18,574",5060,2620,10894,341,10553,-3,10555,505339.747,386644,NaN,18573.911,"18,574",1438.797,2783.567,567.361,201.223
4,2021,258733,19319,409590,480124,145487,6963,44898,1001096,56985,614670,21567,888449,10920,0,228.265,0,22667,5744.758,3569.185,113,10755,15,112647,1001096,1843,-864,0,1843.179,3035,692,-189,"21,700",5836,2658,13187,644,12542,11,12531,578995.264,409590,NaN,21681.255,21700,2423.159,3004.906,735.705,198.859
5,2022,228369,24887,459593,587573,173909,7168,56433,111006,61560,700573,37049,995006,11048,0,228.265,0,27186,7644.000,-835.463,115038,10755,12,115050,1110056,2025,-1099,0,2024.989,2781,1777,-252,"23,900",6705,2839,14390,968,13422,11,13411,571890.389,459593,NaN,20840.216,23900,2423.159,3173.075,859.338,202.955

In [65]:
adib['name']='ADIB'
adib.head()

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles,name
0,2017,21467.0,4891.0,76530.0,11579.0,989.0,1931.0,5892.0,123278.0,3689.0,100004.0,3012.0,106704.0,3168.0,2102.0,1716.0,400.0,3302.0,944.0,-743.0,10889.0,5673.0,11.0,16573.0,123278.0,4352.0,-582.0,3770.0,546.0,1030.0,270.0,16.0,1863.0,5632.0,-2509.0,-790.0,2333.0,-33.0,2300.0,-1.0,2299.0,"99,854","79,750","4,014",6214.294,"5,632.30",840.145,1446.329,167.901,54.793,ADIB
1,2018,18731.0,5250.0,78677.0,13667.0,1206.0,2233.0,5429.0,125194.0,4138.0,100404.0,2915.0,107457.0,3632.0,2641.0,1981.0,400.0,5152.0,31.0,-865.0,12971.0,4754.0,11.0,17736.0,125193.0,4621.0,-714.0,3907.0,525.0,1059.0,257.0,22.0,1863.0,5769.0,-2644.0,-620.0,2506.0,-5.0,2501.0,-1.0,2500.0,"99,391","81,559","3,951",6483.520,"5,769.50",842.130,1522.644,224.255,54.752,ADIB
2,2019,19823.0,3363.0,81108.0,12940.0,1281.0,2086.0,5385.0,125987.0,2461.0,101404.0,3018.0,106884.0,3632.0,2641.0,2250.0,400.0,5757.0,20.0,-362.0,14338.0,4754.0,11.0,19103.0,125987.0,4631.0,-813.0,3818.0,687.0,1083.0,318.0,9.0,2097.0,5915.0,-2653.0,-658.0,2604.0,-3.0,2601.0,-1.0,2600.0,"101,592","84,121","5,440",6728.422,"5,915.20",754.926,1529.670,313.703,54.752,ADIB
3,2020,19580.0,2420.0,83409.0,13809.0,1302.0,2024.0,5273.0,127816.0,3773.0,101276.0,3605.0,108654.0,3632.0,2641.0,2407.0,400.0,5671.0,0.0,-355.0,14396.0,4754.0,11.0,19162.0,127816.0,3827.0,-502.0,3324.0,791.0,992.0,223.0,27.0,2034.0,5358.0,-2450.0,-1314.0,1594.0,10.0,1604.0,-1.0,1603.0,"99,574","87,407","7,689",5860.523,"5,358.20",619.846,1508.212,267.190,54.752,ADIB
4,2021,21699.0,4530.0,88252.0,13691.0,1604.0,2003.0,5089.0,136868.0,3536.0,109611.0,3162.0,116309.0,3632.0,2641.0,2634.0,400.0,6741.0,0.0,-255.0,15793.0,4754.0,12.0,20559.0,136868.0,3675.0,-330.0,3345.0,994.0,958.0,248.0,14.0,2215.0,5560.0,-2260.0,-954.0,2345.0,-15.0,2330.0,-1.0,2329.0,"104,443","93,129","8,286",5889.510,"5,559.60",526.100,1438.767,240.416,54.752,ADIB

In [66]:
fab['name']='FAB'
fab.head()

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles,name
0,2017,138111,138,330466,52067,88458,3536,39109,668968,30576,395844,76061,566759,10898,0,120.000,0,18678,7628.282,962.736,101722,10755,487,102209,668968,0,0,0,826.225,2898,928,472,"19,533",4901,2087,9392,225,9167,54,9133,485340.823,330466,NaN,16380.457,"19,533",1877.303,3422.654,374.101,159.156,FAB
1,2018,182909,19176,353205,46739,90434,3991,44275,744125,40267,465476,93740,642152,10898,0,228.265,0,17084,826.225,-37.477,101611,10755,362,101973,744125,0,0,0,826.225,3392,2042,159,"19,446",5329,1726,12391,325,12066,33,12011,492372.688,353205,NaN,19445.742,"19,446",1686.352,3167.377,235.586,201.663,FAB
2,2019,169702,17027,407903,60695,114644,4619,44040,821968,36008,519162,102628,713931,10920,0,228.265,0,18872,8080.800,2474.032,107607,10755,430,108037,821968,0,0,0,0.000,3169,692,-189,"20,249",5499,1843,12907,314,12593,72,12520,485070.054,407903,NaN,20249.057,"20,249",1560.519,3205.375,451.312,201.624,FAB
3,2020,227873,27358,386644,97894,131574,4867,40115,919061,57632,540882,148599,810022,10920,0,228.265,0,19418,8080.800,2882.421,108675,10755,364,109039,919061,0,0,0,0.000,2903,1777,-252,"18,574",5060,2620,10894,341,10553,-3,10555,505339.747,386644,NaN,18573.911,"18,574",1438.797,2783.567,567.361,201.223,FAB
4,2021,258733,19319,409590,480124,145487,6963,44898,1001096,56985,614670,21567,888449,10920,0,228.265,0,22667,5744.758,3569.185,113,10755,15,112647,1001096,1843,-864,0,1843.179,3035,692,-189,"21,700",5836,2658,13187,644,12542,11,12531,578995.264,409590,NaN,21681.255,21700,2423.159,3004.906,735.705,198.859,FAB

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles,name
0,2017,21467.0,4891.0,76530.0,11579.0,989.0,1931.0,5892.0,123278.0,3689.0,100004.0,3012.0,106704.0,3168.0,2102.0,1716.0,400.0,3302.0,944.0,-743.0,10889.0,5673.0,11.0,16573.0,123278.0,4352.0,-582.0,3770.0,546.0,1030.0,270.0,16.0,1863.0,5632.0,-2509.0,-790.0,2333.0,-33.0,2300.0,-1.0,2299.0,"99,854","79,750","4,014",6214.294,"5,632.30",840.145,1446.329,167.901,54.793,ADIB
1,2018,18731.0,5250.0,78677.0,13667.0,1206.0,2233.0,5429.0,125194.0,4138.0,100404.0,2915.0,107457.0,3632.0,2641.0,1981.0,400.0,5152.0,31.0,-865.0,12971.0,4754.0,11.0,17736.0,125193.0,4621.0,-714.0,3907.0,525.0,1059.0,257.0,22.0,1863.0,5769.0,-2644.0,-620.0,2506.0,-5.0,2501.0,-1.0,2500.0,"99,391","81,559","3,951",6483.520,"5,769.50",842.130,1522.644,224.255,54.752,ADIB
2,2019,19823.0,3363.0,81108.0,12940.0,1281.0,2086.0,5385.0,125987.0,2461.0,101404.0,3018.0,106884.0,3632.0,2641.0,2250.0,400.0,5757.0,20.0,-362.0,14338.0,4754.0,11.0,19103.0,125987.0,4631.0,-813.0,3818.0,687.0,1083.0,318.0,9.0,2097.0,5915.0,-2653.0,-658.0,2604.0,-3.0,2601.0,-1.0,2600.0,"101,592","84,121","5,440",6728.422,"5,915.20",754.926,1529.670,313.703,54.752,ADIB
3,2020,19580.0,2420.0,83409.0,13809.0,1302.0,2024.0,5273.0,127816.0,3773.0,101276.0,3605.0,108654.0,3632.0,2641.0,2407.0,400.0,5671.0,0.0,-355.0,14396.0,4754.0,11.0,19162.0,127816.0,3827.0,-502.0,3324.0,791.0,992.0,223.0,27.0,2034.0,5358.0,-2450.0,-1314.0,1594.0,10.0,1604.0,-1.0,1603.0,"99,574","87,407","7,689",5860.523,"5,358.20",619.846,1508.212,267.190,54.752,ADIB
4,2021,21699.0,4530.0,88252.0,13691.0,1604.0,2003.0,5089.0,136868.0,3536.0,109611.0,3162.0,116309.0,3632.0,2641.0,2634.0,400.0,6741.0,0.0,-255.0,15793.0,4754.0,12.0,20559.0,136868.0,3675.0,-330.0,3345.0,994.0,958.0,248.0,14.0,2215.0,5560.0,-2260.0,-954.0,2345.0,-15.0,2330.0,-1.0,2329.0,"104,443","93,129","8,286",5889.510,"5,559.60",526.100,1438.767,240.416,54.752,ADIB

In [68]:
df.tail()

,Periods,Cash and balances with central banks,Due from financial institutions,Customer financing,Investments,Investment in associates,Investment and development properties,Other assets/ Property and Equipement/ Goodwill and Intangibles,Total assets,Due to financial institutions,Total deposits,Other liabilities,Total liabilities,Share capital,Legal reserve,General reserve,Credit risk reserve,Retained earnings,Proposed dividends,Other reserves,Equity attributable to shareholders of the bank,Tier 1 sukuk,Non - controlling interest,Equity attributable to equity holders of the bank,Total liabilities and equity,Gross revenue from funds,Distribution to depositors,Funded income,Investment income,Fees and commission income,Foreign exchange income,Other income,Non-funded income,Revenues,Operating expenses,Provision for impairment,Net income before zakat and tax,Zakat and tax,Net income after zakat and tax,Non-controlling interest,Net income attributable to equity holders of the bank,Risk-Weighted Assets (RWA),"Customer financing, gross",Non-performing financing (NPA),Operating Income,Total Revenue,General and administrative expenses,Employees' costs,Depreciation,Amortisation of intangibles,name
1,2018,182909.0,19176.0,353205.0,46739.0,90434.0,3991.0,44275.0,744125.0,40267.0,465476.0,93740.0,642152.0,10898.0,0.0,228.265,0.0,17084.0,826.225,-37.477,101611.0,10755.0,362.0,101973.0,744125.0,0.0,0.0,0.0,826.225,3392.0,2042.0,159.0,NaN,"19,446",5329.0,1726.0,12391.0,325.0,12066.0,33.0,12011.0,492372.688,353205,NaN,19445.742,"19,446",1686.352,3167.377,235.586,201.663,FAB
2,2019,169702.0,17027.0,407903.0,60695.0,114644.0,4619.0,44040.0,821968.0,36008.0,519162.0,102628.0,713931.0,10920.0,0.0,228.265,0.0,18872.0,8080.800,2474.032,107607.0,10755.0,430.0,108037.0,821968.0,0.0,0.0,0.0,0.000,3169.0,692.0,-189.0,NaN,"20,249",5499.0,1843.0,12907.0,314.0,12593.0,72.0,12520.0,485070.054,407903,NaN,20249.057,"20,249",1560.519,3205.375,451.312,201.624,FAB
3,2020,227873.0,27358.0,386644.0,97894.0,131574.0,4867.0,40115.0,919061.0,57632.0,540882.0,148599.0,810022.0,10920.0,0.0,228.265,0.0,19418.0,8080.800,2882.421,108675.0,10755.0,364.0,109039.0,919061.0,0.0,0.0,0.0,0.000,2903.0,1777.0,-252.0,NaN,"18,574",5060.0,2620.0,10894.0,341.0,10553.0,-3.0,10555.0,505339.747,386644,NaN,18573.911,"18,574",1438.797,2783.567,567.361,201.223,FAB
4,2021,258733.0,19319.0,409590.0,480124.0,145487.0,6963.0,44898.0,1001096.0,56985.0,614670.0,21567.0,888449.0,10920.0,0.0,228.265,0.0,22667.0,5744.758,3569.185,113.0,10755.0,15.0,112647.0,1001096.0,1843.0,-864.0,0.0,1843.179,3035.0,692.0,-189.0,NaN,"21,700",5836.0,2658.0,13187.0,644.0,12542.0,11.0,12531.0,578995.264,409590,NaN,21681.255,21700,2423.159,3004.906,735.705,198.859,FAB
5,2022,228369.0,24887.0,459593.0,587573.0,173909.0,7168.0,56433.0,111006.0,61560.0,700573.0,37049.0,995006.0,11048.0,0.0,228.265,0.0,27186.0,7644.000,-835.463,115038.0,10755.0,12.0,115050.0,1110056.0,2025.0,-1099.0,0.0,2024.989,2781.0,1777.0,-252.0,NaN,"23,900",6705.0,2839.0,14390.0,968.0,13422.0,11.0,13411.0,571890.389,459593,NaN,20840.216,23900,2423.159,3173.075,859.338,202.955,FAB

In [69]:
formulas = pd.read_csv("/home/fasih/ADIB/extras/formulas.csv")
formulas.head()

,Financial Ratio,Formula
0,NPA Ratio,(Total NPA / Total Financing) * 100
1,NPA Coverage Ratio,(Total Provisions for NPA / Total Non-performi...
2,NPA Coverage Ratio with Collaterals,(Total Provisions for NPA + Collateral Value f...
3,T1 Ratio,(Tier 1 Capital / RWA) * 100
4,CAR Ratio,(Total Capital / RWA) * 100

In [70]:
agent = create_pandas_dataframe_agent(
    OpenAI(temperature=0.6), 
    df=[df, formulas], 
    verbose=True,
    max_iterations=5
)

In [75]:
PROMPT = """You are a chatbot named ADIB.ai for Abu Dhabi Islamic Bank.

You have access to balance-sheet data for different banks, each identified by the `name` column. If no bank name is mentioned Answer for ADIB only.

Key Instructions:
- For queries regarding your identity, respond with: "My name is ADIB.ai, I'm a chatbot for Abu Dhabi Islamic Bank!"
- Remeber number are showing Milloins AED.
- For spescial formulas use df2 and then perform calculations on df1
- For any query that is not related to data then provide general answers/recommendations.

Example Queries:
1. "what is the growth for first three years in net income after zakat and tax also mentioned year with numbers"
2. "Give me information about ADIB's investments in 2021."

Example Answers:
1. "The growth rate for each year in net income after zakat and tax is NaN for 2017, 27.03% for 2018, 4.30% for 2019,"
2. "The investments for ADIB in the year 2021 were 13,691 Million AED."

Remember to adhere to the given instructions, understand specific years and bank names mentioned in queries.


Here's the query: 
"""
def ask_agent(agent, query):
    """
    Query an agent and return the response as a string.

    Args:
        agent: The agent to query.
        query: The query to ask the agent.

    Returns:
        The response from the agent as a string.
    """
    # Prepare the prompt with query guidelines and formatting
    prompt = ( PROMPT + query)

    # Run the prompt through the agent and capture the response.
    with get_openai_callback() as cb:
        response = agent.run(prompt)
        total_tokens = cb.total_tokens
        prompt_token = cb.prompt_tokens
        completion_token = cb.completion_tokens
        total_cost = cb.total_cost
    print("total token used:", total_tokens, 'costing:', total_cost)

    # Return the response converted to a string.
    return str(response)

In [50]:
question = "What was the customer financing in 2018?"
question2 = "What was the other assets 2020?"
question3 = "What was the investments in 2021?"
question4 = "What was the difference between investments of 2021 and 2019?"

In [36]:
response = ask_agent(agent=agent, query=question)
print(response)

> Entering new AgentExecutor chain...

Thought:
        I need to find the customer financing amount in 2018 from one of the dataframes.

Action:
        python_repl_ast

Action Input:
        df1.loc[df1['name'] == 'ADIB', 'Customer financing'].iloc[1]

Observation: 78677.0
Thought: I now know the final answer

Final Answer:
        The customer financing in 2018 was 78,677 Million AED.

> Finished chain.
total token used: 6166 costing: 0.12332000000000001
The customer financing in 2018 was 78,677 Million AED.

In [176]:
response = ask_agent(agent=agent, query=question2)
print(response)

> Entering new AgentExecutor chain...
Thought: I need to find the column of ‘Other assets/ Property and Equipement/ Goodwill and Intangibles’ and the row for 2020
Action: python_repl_ast
Action Input: df['Other assets/ Property and Equipement/ Goodwill and Intangibles'][3]
Observation: 5273.0
Thought: I now know the final answer
Final Answer: The other assets in 2020 was 5273 Million AED.

> Finished chain.
total token used: 3422 costing: 0.06844
The other assets in 2020 was 5273 Million AED.

In [177]:
response = ask_agent(agent=agent, query=question3)
print(response)

> Entering new AgentExecutor chain...
Thought: I need to look up the investments for 2021
Action: python_repl_ast
Action Input: df[df['Periods'] == 'For Year 2021']['Investments'].item()
Observation: 13691.0
Thought: I know the final answer
Final Answer: The investments in 2021 was 13691 Million AED

> Finished chain.
total token used: 3381 costing: 0.06761999999999999
The investments in 2021 was 13691 Million AED

In [178]:
response = ask_agent(agent=agent, query=question4)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to look at the Investments column for both 2021 and 2019 to answer the question.
Action: python_repl_ast
Action Input: df['Investments'][4] - df['Investments'][2]
Observation: 751.0
Thought: I now know the final answer
Final Answer: The difference between investments of 2021 and 2019 was 751 Million AED.

> Finished chain.
total token used: 3405 costing: 0.0681
The difference between investments of 2021 and 2019 was 751 Million AED.

In [179]:
response = ask_agent(agent=agent, query="what is the average of cash and balance?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to calculate the average of the "Cash and balances with central banks" column
Action: python_repl_ast
Action Input: df["Cash and balances with central banks"].mean()
Observation: 22847.585714166664
Thought: I now know the final answer
Final Answer: The average of Cash and balances with central banks is 22847.59 Million AED.

> Finished chain.
total token used: 3397 costing: 0.06794
The average of Cash and balances with central banks is 22847.59 Million AED.

In [117]:
response = ask_agent(agent=agent, query="what is the year on year growth percentage for the investments for the last 3 years?")
print(response)

> Entering new AgentExecutor chain...

Thought: I need to identify the investments for the last 3 years and then calculate the year on year growth percentage
Action: python_repl_ast
Action Input: df[df['name'] == 'ADIB']['Investments'].pct_change()
Observation: 0          NaN
1     0.180326
2    -0.053194
3     0.067156
4    -0.008545
5     0.419327
6    -0.063044
7     0.063094
8     0.059349
9     0.056024
10    0.053052
11    0.050379
Name: Investments, dtype: float64
Thought: I now know the year on year growth percentage for the investments for the last 3 years
Final Answer: The year on year growth percentage for the investments for the last 3 years is 18.03%, -5.32%, and 6.72%, respectively.

> Finished chain.
total token used: 3649 costing: 0.07298
The year on year growth percentage for the investments for the last 3 years is 18.03%, -5.32%, and 6.72%, respectively.

In [129]:
response = ask_agent(agent=agent, query="in which year the cash and balance was lowest for FAB, and what was the cash")
print(response)

> Entering new AgentExecutor chain...
Thought: I need to find the lowest cash and balance for FAB
Action: python_repl_ast
Action Input: df[df.name == 'FAB']['Cash and balances with central banks'].min()
Observation: 138111.0
Thought: I need to find the corresponding year for the lowest cash and balance
Action: python_repl_ast
Action Input: df[df['Cash and balances with central banks'] == df[df.name == 'FAB']['Cash and balances with central banks'].min()]['Period'].values[0]
Observation: 2017
Thought: I now know the final answer
Final Answer: The lowest cash and balance for FAB was in 2017, amounting to 138111 Million AED.

> Finished chain.
total token used: 5416 costing: 0.10832000000000001
The lowest cash and balance for FAB was in 2017, amounting to 138111 Million AED.

In [105]:
response = ask_agent(agent=agent, query="what is the average of cash and balance")
print(response)

> Entering new AgentExecutor chain...

Thought: I should check the values for cash and balance for each year
Action: python_repl_ast
Action Input: df.groupby('name')['Cash and balances with central banks'].mean()
Observation: name
ADIB     22847.585714
FAB     200949.500000
Name: Cash and balances with central banks, dtype: float64
Thought: I should check the ADIB average only
Action: python_repl_ast
Action Input: df.groupby('name')['Cash and balances with central banks'].mean()['ADIB']
Observation: 22847.585714166667
Thought: I now know the final answer
Final Answer: The average of cash and balance for ADIB is 22,847.59 Million AED.

> Finished chain.
total token used: 5398 costing: 0.10796000000000001
The average of cash and balance for ADIB is 22,847.59 Million AED.

In [125]:
response = ask_agent(agent=agent, query="what is the average of cash and balance all banks")
print(response)

> Entering new AgentExecutor chain...

Thought: To answer this question, I need to find the average of the cash and balance for all the banks
Action: python_repl_ast
Action Input: df['Cash and balances with central banks'].mean()
Observation: 82214.89047611112
Thought: I now know the final answer
Final Answer: The average of the cash and balance for all banks is 82214.89047611112 Million AED.

> Finished chain.
total token used: 3507 costing: 0.07014000000000001
The average of the cash and balance for all banks is 82214.89047611112 Million AED.

In [72]:
query="What is the t1 ratio for year 2021 for ADIB?"
response = ask_agent(agent=agent, query=query)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to calculate the T1 ratio for ADIB in 2021
Action: python_repl_ast
Action Input: df1[df1['name'] == 'ADIB']['Tier 1 sukuk'][4] / df1[df1['name'] == 'ADIB']['Risk-Weighted Assets (RWA)'][4]
Observation: TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''
Thought: I need to convert the values to float
Action: python_repl_ast
Action Input: float(df1[df1['name'] == 'ADIB']['Tier 1 sukuk'][4]) / float(df1[df1['name'] == 'ADIB']['Risk-Weighted Assets (RWA)'][4])
Observation: ValueError: could not convert string to float: '104,443'
Thought: I need to remove the comma
Action: python_repl_ast
Action Input: float(df1[df1['name'] == 'ADIB']['Tier 1 sukuk'][4].replace(',', '')) / float(df1[df1['name'] == 'ADIB']['Risk-Weighted Assets (RWA)'][4].replace(',', ''))
Observation: AttributeError: 'numpy.float64' object has no attribute 'replace'
Thought: I need to convert the values to strings
Action: python_repl_ast
Action Input: float(str(df1[df1['name'] == 'ADIB']['Tier 1 sukuk'][4]).replace(',', '')) / float(str(df1[df1['name'] == 'ADIB']['Risk-Weighted Assets (RWA)'][4]).replace(',', ''))
Observation: 0.04551765077602137
Thought: I now know the final answer
Final Answer: The T1 ratio for year 2021 for ADIB is 4.55%.

> Finished chain.
total token used: 13364 costing: 0.26728
The T1 ratio for year 2021 for ADIB is 4.55%.

In [73]:
query="Can you recommend how can ADIB increase customer financing deposit?"
response = ask_agent(agent=agent, query=query)
print(response)

> Entering new AgentExecutor chain...

Thought: I need to understand what the current customer financing deposits are for ADIB
Action: python_repl_ast
Action Input: print(df1[df1['name'] == 'ADIB']['Customer financing'])
Observation: 0      76530.00
1      78677.00
2      81108.00
3      83409.00
4      88252.00
5     107717.00
6     104644.93
7     109986.68
8     115328.42
9     120670.16
10    126011.90
11    131353.65
Name: Customer financing, dtype: float64

Thought: I need to understand what the other banks customer financing deposits are
Action: python_repl_ast
Action Input: print(df1[df1['name'] != 'ADIB']['Customer financing'])
Observation: 0    330466.0
1    353205.0
2    407903.0
3    386644.0
4    409590.0
5    459593.0
Name: Customer financing, dtype: float64

Thought: I now know the differences between ADIB and other banks' customer financing deposits
Final Answer: ADIB can increase customer financing deposits by offering more competitive rates, improving customer service, and increasing marketing and promotional activities.

> Finished chain.
total token used: 7680 costing: 0.15360000000000001
ADIB can increase customer financing deposits by offering more competitive rates, improving customer service, and increasing marketing and promotional activities.

In [ ]:
query="Can you ?"
response = ask_agent(agent=agent, query=query)
print(response)